
<div class="listing-show">
  <section class="listing-show-info">
    <%= LTYPES[listing.escape('category')] %>
    <p class="listing-title">
      <h1><%= listing.escape('title') %></h1>
    </p>
    <img class="listing-img" src="<%= listing.escape('img_url') %>" />
    <hr>
    <p class="section-title">
      <h4>
        <strong>OVERVIEW</strong>
      </h4>
    </p>
    <div class="Visit"
    <p class="section-content">
      <%= listing.escape('address') %>
    </p>
    <hr>
    <p class="section-title">
      <h4>
        <strong>DETAILS</strong>
      </h4>
    <p class="section-content">
      <%= listing.escape('about') %>
    </p>
    <hr>
  </section>
</div>
<div class="maps-views">
  <div class="map-view">
    <iframe
      width="100%"
      height="500px"
      src="https://www.google.com/maps/embed/v1/place?key=<%= GOOGLE_API_KEY %>&q=<%= listing.escape('address') %>&zoom=15">
    </iframe>
  </div>
  <div class="street-view">
    <iframe
      width="100%"
      height="280px"
      src="https://www.google.com/maps/embed/v1/streetview?key=<%= GOOGLE_API_KEY %>&location=<%= listing.escape('latitude') %>,<%= listing.escape('longitude') %>">
    </iframe>
  </div>
</div>
<div class="info-wrapper">

</div>
