<div class="listing-show">
  <div class="go-back"><span class="backarrow"><</span>
    <a class="back-link" href="#">Go Back</a>
  </div>
  <section class="listing-show-info">
    <%= LTYPES[listing.escape('category')] %>
    <div class="divider"></div>
    <p class="listing-title">
      <h6>
        <%= listing.escape('title') %>
        <span class="pull-right website">
          http://<%= listing.escape('website') %>
        </span>
      </h6>
    </p>
    <div class="divider"></div>
    <p class="section-title">
      <h4>
        <strong>LOCATION</strong>
      </h4>
    </p>
    <p class="section-content">
      <%= listing.escape('address') %>
    </p>
    <div class="divider"></div>
    <p class="section-title">
      <h4>
        <strong>DETAILS</strong>
      </h4>
    </p>
    <p class="section-content">
      <%= listing.escape('about') %>
    </p>
    <div class="divider"></div>
    <div class="bottom-show-view clearfix">
      <div class="moreinfo">
        <a class="web-url"
           href="http://<%= listing.get('website')%>">Visit Website</a>
        <span class="go-to">></span>
      </div>
      <img class="listing-img" src="<%= listing.escape('img_url') %>" />
    </div>
  </section>
</div>
<div class="maps-views">
  <div class="map-view">
    <iframe
      width="100%"
      height="500px"
      src="https://www.google.com/maps/embed/v1/place?key=<%= GOOGLE_API_KEY %>&q=<%= encodeURIComponent(listing.get('address')) %>">
    </iframe>
  </div>
  <div class="street-view">
    <iframe
      width="100%"
      height="280px"
      src="https://www.google.com/maps/embed/v1/streetview?key=<%= GOOGLE_API_KEY %>&location=<%= listing.escape('latitude') %>,<%= listing.escape('longitude') %>">
    </iframe>
  </div>
</div>
<div class="info-wrapper">

</div>
