<%= render partial: "./layouts/banner" %>
<div class="new-session-form">
  <%= render partial: "./layouts/errors" %>
  <h1>Log In</h1>

  <form action="<%= session_url %>" method="post">
    <%= csrf_token %>
    <div class="row">
      <input type="text"
             name="user[username]"
             id="username">
    </div>
    <div class="row">
      <input type="password"
             name="user[password]"
             id="password">
    </div>
    <input type="submit" value="Sign In">
  </form>
  <form action="session_url" method="post">
    <%= csrf_token %>
    <input type="hidden" name="user[username]" value="Guest">
  	<input type="hidden" name="user[password]" value="password">
    <input type="submit" value="Guest Sign In">
  </form>
</div>
