<%= render './layouts/errors' %>
<div class="main">
  <div class="button-container">
    <button class="enter-site">Enter digiSFere...</button>
  </div>

  <div class="personal">
    <span>
      <ul class="personal-links">
        <li>
          <a href="http://www.linkedin.com/in/djcomputer">
            <img src="<%= asset_path('linkedin.png') %>" />
          </a>
        </li>
        <li>
          <a href="https://github.com/frescoraja">
            <img src="<%= asset_path('github.png') %>" />
          </a>
        </li>
      </ul>
    </span>
  </div>
</div>

<%= render "new_session" %>

<%= render "new_user" %>


<script>

$(document).ready( function () {
  DigiSFere.welcome();
});
</script>
