<!DOCTYPE html>
<html>
<head>
  <% if Time.now.hour > 17  || Time.now.hour < 7 %>
    <% img_src = "pm-bannersm.jpg" %>
    <% logo_src = "site-logowhite.png" %>
    <% color = "white" %>
    <% s_color = "black" %>
  <% else %>
    <% img_src = "am-bannersm.jpg" %>
    <% logo_src = "site-logoblack.png" %>
    <% color = "black" %>
    <% s_color = "white" %>
  <% end %>
  <script>
    window.LOGOSRC = '<%= logo_src %>';
  </script>
</head>
<body>
  <div id="searchbar" style="background-image: url('assets/<%= img_src %>'); color:<%= color %>;text-shadow:0 1px 1px <%= s_color %>"></div>
  <div id="content" class="col-xs-10 col-xs-offset-1"></div>
  <div id="sign-out">
    Sign Out
      <div class="vdivider"></div>
      <span class="glyphicon glyphicon-log-out"></span>
  </div>
  <div id="footer">
    <%= render "./layouts/footer" %>
  </div>
</body>
</html>

<script>
  var idleTime = 0;
  $(document).ready(function () {
    DigiSFere.initialize();

    $('#sign-out').click(function (e) {
      signOut();
      location.href = '/';
    });

    var idleInterval = setInterval(timerCount, 60000);

    $(this).mousemove(function (e) {
      idleTime = 0;
    });

    $(this).keypress(function (e) {
      idleTime = 0;
    });

    function timerCount () {
      if (++idleTime > 9) {
        signOut();
        clearInterval(idleInterval);
      }
    }

    function signOut () {
    $.ajax({
      type: 'post',
      url: '/session',
      data: {'_method':'delete'}
    });
    }
  });
</script>
